<%- include("./partials/header") %>
<%- include("./partials/navigation") %>

<h1><%= todo.title %></h1>
<p><%= todo.done %></p>
<form action="/todos/<%= todo._id %>/edit" method="GET">
	<button class="btn btn-primary mx-sm-3 my-1" type="submit">Edit</button>
</form>
<form id="delete" action="/todos/<%= todo._id %>?_method=DELETE" method="POST">
	<button class="btn btn-danger mx-sm-3 my-1">Delete</button>
</form>

<%- include("./partials/footer") %>